{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Home' %}{% endblock title %}

{% block content %}
    <div class="header">
        {% if company and company.logo %}
            <img src="{{ company.logo.url }}" alt="Logo">
        {% else %}
            <img src="{% static 'img/logo.png' %}" alt="Default Logo">
        {% endif %}
        <h1>Welcome to HR System</h1>
    </div>
    <div class="jumbotron">
        <h1 class="display-4">{% trans 'Welcome!' %}</h1>
        <p class="lead">{% trans 'This is a simple home page for the HR application.' %}</p>
        <hr class="my-4">
        <p>{% trans 'You can manage employees or calculate salaries from here.' %}</p>
        <p>You can manage employees or calculate salaries from here.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'hr:employee_list' %}"
               role="button">{% trans 'Employee List' %}</a>
            <a class="btn btn-success btn-lg" href="{% url 'hr:salary_calculator' %}"
               role="button">{% trans 'Salary Calculator' %}</a>
        </p>
    </div>
{% endblock content %}
